.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
<<<<<<< HEAD
=======

>>>>>>> b5a4bc66ffbd8da40f285ab30462e31c5a57cc55
.cart-img {
  width: 150px;
}
